{% extends 'head.html' %}
{% load staticfiles %}
{% block body %}
    <div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						<h1 class="page-title">关于我</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" src="{% static 'blog/img/me.jpg' %}" alt="Developer Image">
								</figure>
								<p>一个简单的人，想做点快乐的事。</p>
                                <div class="height-40px"></div>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
{% endblock body %}